<!-- open-iconic-bootstrap (icon set for bootstrap) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
<router-outlet></router-outlet>  


<!--The whole content below can be removed with the new code.-->
<!-- <app-navigation></app-navigation>

<div class="container-fluid">
  <div class="container">
    <h1>
      Welcome to {{title}}!!
    </h1>  
    <router-outlet></router-outlet>   
  </div>

</div> -->