<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<!--<app-info-card></app-info-card>-->
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Notifiche -->
<!-- ============================================================== -->
<app-notifications></app-notifications>
<!-- ============================================================== -->
<!-- Notifiche -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!--Lista task-->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <app-tasklist [title]="'DASHBOARD1.TITLE_ATTIVITA_UFFICIO' | translate" [typeresearch]="'myofficetasks'"></app-tasklist>        
    </div>
    <!-- column -->
    <div class="col-lg-6">
        <app-tasklist [title]="'DASHBOARD1.TITLE_MIE_ATTIVITA' | translate" [typeresearch]="'mytasks'" ></app-tasklist>
    </div>
</div>
<!-- ============================================================== -->
<!-- Lista task -->
<!-- ============================================================== -->